:root {
  --color-red: #be3144;
  --color-white: #f0f0f0;
  --color-gray: #303841;
  --color-blue: #45567d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  color: var(--color-white);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-red);
}

.menu__item-list {
  display: flex;
  justify-content: center;
  list-style: none;

  height: 60px;
  align-items: center;

  font-size: 1.21rem;
}

.menu__item {
  padding: 1.1rem;
}

.page-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  height: 100vh;

  text-align: center;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.page-top__title {
  font-size: 3.48rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700px;
}

.page-top__subtitle {
  color: var(--color-red);
  font-weight: 200;
  font-style: italic;
  font-size: 1.74rem;
}

.project__container {
  background-color: var(--color-blue);
  padding: 10% 0;
}

.project__title {
  width: 95%;
  margin: 0 auto 55px;

  text-align: center;
  border-bottom: 2px solid white;

  font-size: 2.2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;

  padding: 0% 3%;
}

.project {
  width: 95%;
 
  margin: 0px auto 40px;
  background-color: var(--color-gray);

  text-align: center;

  font-size: 1.16rem;
}

.project__image {
  display: block;
  width: 100%;
}

.project__name {
  display: block;
  height: 60px;
  line-height: 60px;
}

.project__button {
  display: block;
  width: 170px;
  margin: 0 auto;

  background-color: var(--color-gray);
  color: var(--color-white);

  border: none;
  padding: 10px 20px;

  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.page-bottom__title {
  font-size: 2.2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700px;
}

.page-bottom__subtitle {
  font-weight: 200;
  font-style: italic;
  font-size: 0.95rem;
}

.social-media__container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: var(--color-gray);
  text-align: center;
  height: 80vh;
}

.social-media__list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 80%;
  margin: 2rem auto 0;
}

.social-media__item {
  font-size: 1.35rem;
  padding: 0.5rem 1rem;
}

.fab,
.fas {
  font-family: FontAwesome;
  color: var(--color-white);
  margin-right: 5px;
}

